.Obj .header{
    background: white;
    padding: 3%;
}
.Obj .content .obj{
    background: white;
    padding: 0px 20px;
    margin: 0px 5px 10px 0px;
    margin-left: -15px;
    border-radius: 5px;
    height: 80px;
}
.Obj .content .obj .cont{
    padding: 30px 20px;
}
.Obj .content .obj .circle{
    display: flex;
    align-items: center;
}
.Obj .content .obj .circle .objPro{
    width: 55%;
}
.Obj .content .kr .krPro{
    width: 85%;
}
.Obj .content .kr{
    background: white;
    padding: 10px;
    min-height: 600px;
}
.Obj .logo{
    padding: 5px;
    border-radius: 3px;
    background: #ffb3d9;
    color: #DD356E;
}
.Obj .content .obj .dropdown-butn,
.Obj .content .key .dropdown-butn{
    font-size: 18px;
    display: flex;
    opacity: 0.5;
    padding: 10px;
    padding-top: 18px;
    padding-right: 20px;
    align-items: center;
    cursor: pointer;
}
.Obj .content .obj .dropdown-menu,
.Obj .content .key .dropdown-menu{
    position: absolute;
    left: -500px;
}
.Obj .content .ob .footer{
    bottom: 0;
    width: 40%;
    display: flex;
    align-items: center;
    position: fixed;
    padding: 20px 0px;
    padding-left: 5%;
    overflow: hidden;
    z-index: 0;
}
.Obj .content .ob .footer button{
    border:1px solid #DD3561;
    color: #DD356E;
    border-radius: 5px;
    background: white;
    padding: 6px 16px;
}
.Obj .content .kr .footer{
    background: white;
    /* right: 0; */
    bottom: 0;
    width: 50%;
    display: flex;
    margin-left: -10px;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 20px;
    overflow: hidden;
    z-index: 0;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.Obj .content .kr .footer button{
    border:1px solid #DD3561;
    color: #DD356E;
    border-radius: 5px;
    background: white;
    padding: 6px 16px;
}
.Obj .AddObj.show,
.Obj .AddKey.show,
.Obj .AddIni.show{
    display: block;
}
.Obj .AddObj{
    display: none;
    position: fixed;
    width: 100%;
    top:8%;
    z-index: 1;
    left: 0;
    height: 92%;
    background: rgba(0, 0, 0, 0.2);
}
.Obj .AddObj .close,
.Obj .AddKey .close,
.Obj .AddIni .close{
    font-size: 18px;
    color: #DD356E;
    cursor: pointer;
}
.Obj .AddObj .form{
    width: 400px;
    position: fixed;
    top: 43%;
    left:27%;
    padding: 20px;
    background: white;
    border-radius: 5px;
}
.Obj .AddKey,
.Obj .AddIni{
    display: none;
    position: fixed;
    width: 100%;
    top:8%;
    z-index: 1;
    left: 0;
    height: 92%;
    background: rgba(0, 0, 0, 0.2);
}
.Obj .AddKey .form,
.Obj .AddIni .form{
    width: 400px;
    position: fixed;
    top: 43%;
    left:65%;
    padding: 20px;
    background: white;
    border-radius: 5px;
}
.Obj .AddObj .form label,
.Obj .AddKey .form label,
.Obj .AddIni .form label{
    font-size: 10px;
    padding:0;
    margin: 0;
}
.Obj .AddObj .form input,
.Obj .AddObj .form input:focus,
.Obj .AddKey .form input,
.Obj .AddKey .form input:focus,
.Obj .AddIni .form input,
.Obj .AddIni .form input:focus{
    width: 100%;
    padding:3px 10px;
    background: white;
    border:0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.Obj .AddObj .form input,
.Obj .AddObj .form input::-webkit-input-placeholder,
.Obj .AddKey .form input,
.Obj .AddKey .form input::-webkit-input-placeholder ,
.Obj .AddIni .form input,
.Obj .AddIni .form input::-webkit-input-placeholder {
    font-size: 13px;
    line-height: 3;
}
.Obj .AddObj .form button,
.Obj .AddKey .form button,
.Obj .AddIni .form button{
    background-color: white;
    color: #DD356E;
    border:1px solid #DD356E;
    padding: 7px 30px;
    float: right;
    border-radius: 5px;
    font: 14px Rubik;
}
.Obj .AddObj .triangle-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid white;
}
.Obj .editObj.show{
    display:flex;
}
.Obj .editObj{
    position: fixed;
    width: 100%;
    top:8%;
    z-index: 1;
    left: 0;
    height: 92%;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    align-items: center;
    justify-content: center;
}
.Obj .editObj .form{
    width: 400px;
    padding: 10px;
    margin-top: -10%;
    border-radius: 10px;
}
.Obj .editObj .form form{
    background: white;
    padding:10px 15px;
}
.Obj .editObj .form .close{
    font-size: 18px;
    cursor: pointer;
}
.Obj .editObj .form .label,
.Obj .editKr .form .label{
    font-size: 14px;
}
.Obj .editObj .form input,
.Obj .editKr .form input,
.Obj .editKr .form select{
    width: 100%;
}
.Obj .editObj .form .cancel,
.Obj .editKr .form .cancel{
    padding:5px 10px;
    color: #DD356E;
    cursor: pointer;
    margin-top: 5px;
}
.Obj .editObj .form .save,
.Obj .editKr .form .save{
    padding:0px 30px;
    border-radius: 5px;
    border: 0;
    background: #DD356E;
    height: 45px;
    color: white;
    font-size: 14px;
}

.Obj .editKr.show{
    display:flex;
}
.Obj .editKr{
    position: fixed;
    width: 100%;
    top:8%;
    z-index: 1;
    left: 0;
    height: 92%;
    background: rgba(0, 0, 0, 0.2);
    display: none;    
    align-items: center;
    justify-content: center;
}
.Obj .editKr .form{
    background: white;
    width: 400px;
    padding: 10px 20px;
    margin-top: -5%;
    border-radius: 10px;
}
.Obj .editKr .form ul{
    list-style: none;
    display: inline-flex;
}
.Obj .editKr .form ul li{
    margin: 5px 10px;
    cursor: pointer;
}
.Obj .editKr .form ul li.active{
    border-bottom: 3px solid #DD356E;
}
.Obj .editKr .form .content .div{
    display: none;
}
.Obj .editKr .form .content .div.show{
    display: block;
}