.reset h3{
    font: 25px HelveticaNeue;
    font-weight: bolder;
}
.reset p{
    opacity: 0.8;
}
.reset{
    background: white;
    padding: 5%;			
}
.reset .bg{
    background: rgb(248,248,248);
    /* background: #DD356E; */
}
.reset .form label{
    font: 16px Rubik
}
.reset .form .form-control{
    background: rgb(248,248,248);
}
.reset button.update{
    background: #DD356E;
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
}
.reset .error{
    visibility: hidden;
}
.reset .error.show{
    visibility: visible;
}
