.head{
    background: white;
    padding: 20px 30px;
    font-weight: bold;
    font:18px HelveticaNeue;
    border-radius: 5px;
}
.form{
    padding: 20px 50px;
    background: white;
}
.form .form-control{
    border: 1px solid #e6e6e6;
    width: 50%;
    background: rgb(250,250,250);
    padding: 10px;
}
.footer{
    position: fixed;
    /*margin-left: 0;*/
    left: 0;
    background: white;
    bottom: 0;
    width: 100%;
    padding: 20px 60px;
    overflow: hidden;
    z-index: 0;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.footer button{
    float: right;
    padding: 10px 30px;
    border-radius: 5px;
    border: 0;
    background: #DD356E;
    color: white;
    font:16px Rubik;
}
.rept{
    margin-bottom: 50px;
    background: white;
    padding: 0px;
    padding-bottom: 40px; 
}
.rept h1{
    font: 30px HelveticaNeue;
    font-weight: bolder;
}
.rept .head{
    background: #f4f6fe;
}
.rept th{
    background: #f4f6fe;
}
.rept th,td{
    padding: 15px 25px;
}
.rept td{
    opacity: 0.8;
}
th{
    color: rgb(170,170,170);
    font-weight: lighter;
    font:15px Rubik;
}
.rept table{
    width: 100%;
}
.rept .form-control{
    background: rgb(250,250,250);
}
.rept .foot{
    cursor: pointer;
    float: right;
    font:13px Rubik;
    color: #DD356E;
    padding-right: 40px;
}
.rept .check{
    align-items: center;
}
.rept .check span{
    font: 14px Rubik;
    padding: 5px;
}
.rept .check input{
    cursor: pointer;
}